{{ define "content"}}
<h2>welcome, friend</h2>
<img
    src="https://bear-images.sfo2.cdn.digitaloceanspaces.com/henz/dsc03236_01_bw_smaller.webp"
/>
<h2>about me</h2>
<table style="margin-bottom: 2em; background-color: white">
    <tr>
        <td>🥷</td>
        <td>Henry</td>
    </tr>
    <tr>
        <td>🏙️</td>
        <td>Brooklyn, NY, USA</td>
    </tr>
    <tr>
        <td>💼</td>
        <td>Technology</td>
    </tr>
</table>
{{template "status" .}} {{template "reading" .}} {{template "commits" .}}
{{template "watched" .}} {{end}}
