{{ define "content"}}
<h2>welcome, friend</h2>
<img src="/image/dsc03236_01_bw_smaller.webp" class="width-50" />
<h2>about me</h2>
<table class="max-width-50">
    <tr>
        <td class="width-0">🥷</td>
        <td>Henry</td>
    </tr>
    <tr>
        <td class="width-0">🏙️</td>
        <td><s>Brooklyn, NY</s> → Chicago, IL, USA</td>
    </tr>
    <tr>
        <td class="width-0">💼</td>
        <td>Technology</td>
    </tr>
</table>
{{template "status" .}} {{template "top-artists" .}} {{template "reading" .}}
{{template "commits" .}} {{template "watched" .}} {{end}}
