html {
    scrollbar-gutter: stable;
}
body {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 720px;
    margin: auto;
    background-color: #f0f0f0;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    background-color: white;
}
td,
th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

time {
    font-family: monospace;
}
a {
    color: blue;
    text-decoration: none;
}
img {
    border-style: solid;
    border-width: thin;
    max-width: 100%;
}
td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}
nav ul {
    padding: 0;
}
nav li {
    display: inline;
    padding-right: 0.5em;
}
h1 {
    color: black;
}
.width-0 {
    width: 0;
}
.width-50 {
    width: 50%;
}
.width-25 {
    width: 25%;
}
.no-padding {
    padding: 0;
}
.set-height {
    height: 1em;
}
.align-top {
    vertical-align: top;
}
.font-small {
    font-size: small;
}
.footnotes ol li p {
    overflow: auto;
}
