body {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 720px;
    margin: auto;
    background-color: #f0f0f0;
}
a {
    color: blue;
    text-decoration: none;
}
nav ul {
    padding: 0;
}
nav li {
    display: inline;
    padding-right: 0.5em;
}
h1 {
    color: black;
}
img {
    border-style: solid;
    border-width: thin;
    max-width: 100%;
}
table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin-bottom: 1em;
}
td,
th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
fieldset {
    border: 1px solid black;
}
time {
    font-family: monospace;
    white-space: nowrap;
}
article {
    background-color: white;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}
